body
{

    background: linear-gradient(#282828, #282828); /* Standard syntax 353535 */
	/*background-color: #f6f6f6;*/
	font-family: monospace;
	margin:auto;
}
#close
{
   position:absolute;
   float:right;
   padding:10px;
   font-weight: bold;
   color:#3383BB;
   font-size: 12px;	
   cursor: pointer;
   background: #f6f6f6;

   height:10px;
   line-height: 10px; 

}
.container
{
	margin: auto;
	width:900px;
}
.header
{
	height: 180px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 150;
	padding: 12px;
	color: white;
	text-decoration: none;

	text-align: center;
	line-height: 180px;
}
.subheader
{
	font-size: 20px;

	height:20px;
	line-height: 20px;
	float:top;
	margin-top:-25px;
}
#ak
{
	margin-top:15px;
}

.block
{
	margin-left: 20px;
	margin-right:20px;
	padding: 10px;
	background-color: #3B3B3B;
	border-radius: 5px;
	/* box-shadow */
	box-shadow: 0px 0px 5px #d0d0d0;

}
#summary_wrapper
{
/*border:1px solid white;*/
width: 680px;
float:right;
}
#player_results
{
	height: 184px;
	padding: 10px;
	background-color: #3B3B3B;
	/*border-radius: 5px;*/
	/* box-shadow */
	box-shadow: 0px 0px 5px black;
	border-collapse: collapse;
/*	max-height: 800px;
	overflow-y: scroll;	*/
	display:none;
	color:white;
}
#home
{
	height: 400px;
	padding: 10px;
	background-color: #3B3B3B;
	/*border-radius: 5px;*/
	/* box-shadow */
/*	max-height: 800px;
	overflow-y: scroll;	*/
	color:white;
	box-shadow: 0px 0px 5px black;
}
.div_header
{
	/*border:1px solid white;*/
	width: 200px;
	font-size: 18;
}
#jabroni_list_left
{
	width:435px;
	float:left;
	height: 335px;
	border:1px solid white;
}
#jabroni_list_right
{
	width:435px;
	height: 335px;
	float:right;
	border:1px solid white;
}
#added_results
{

	height: 184px;
	line-height:184px;
	font-size: 80px;
	padding: 10px;
	background-color: #3B3B3B;
	/*border:1px solid white;*/
	width: 680px;
	float:right;
	/*border-radius: 5px;*/
	/* box-shadow */
	/*box-shadow: 0px 0px 5px black;*/
	border-collapse: collapse;
/*	max-height: 800px;
	overflow-y: scroll;	*/
	display:none;
	color:white;
}
#failbox
{
	text-align: center;
	height: 30px;
	width:200px;
	line-height: 30px;
	background-color: #3B3B3B;
	/*border-radius: 5px;*/
	/* box-shadow */
	box-shadow: 0px 0px 2px red;
	border-collapse: collapse;
/*	max-height: 800px;
	overflow-y: scroll;	*/
	display:none;
	color:white;
}
.avatar
{
	width:184px;
	height:184px;
	border: 2px solid #53A4C4;
	float:left;
/*	border-radius: 10px;*/
}
.avatar_ingame
{
	width:184px;
	height:184px;
	border: 2px solid #82A737;
	float:left;
/*	border-radius: 10px;*/
}
.avatar_img
{
/*	border-radius: 10px;*/
}
.player_summary
{
	margin-left:10px;
	/*border: 1px solid white;*/
	float:left;
	width:300px;
	font-size: 16;
	height: 184px;
}
.mini_player_summary
{

	border: 1px solid white;

	width:auto;
	font-size: 16;
	height: 65px;
}
.mini_avatar
{
	width:61;
	height:61;
	border: 2px solid #53A4C4;
	float:left;
}
.mini_rating
{

	border: 1px solid white;
	float:right;
	width:200px;
	height: 184px;
	line-height: 184px;
	font-size: 120;
	text-align: center;

}
#jabroni_added
{
	margin-left:10px;
	/*border: 1px solid white;*/
	float:left;
	width:300px;
	font-size: 16;
	height: 184px;
}
.rating
{
	margin-left:10px;
	/*border: 1px solid white;*/
	float:right;
	width:200px;
	height: 184px;
	line-height: 184px;
	font-size: 120;
	text-align: center;

}
.addbutton
{
	margin-left:10px;
	/*border: 1px solid white;*/
	float:right;
	width:200px;
	height: 184px;
	line-height: 170px;
	font-size: 120;
	text-align: center;
	color: #89B03A;
	cursor: pointer;

}
/*.addsuccess
{
	margin-left:10px;
	border: 1px solid white;
	float:right;
	width:200px;
	height: 184px;
	line-height: 170px;
	font-size: 120;
	text-align: center;
	color: #89B03A;
	display: none;

}*/
.sub_result
{
	margin-left: 10px;
}
#player_searchbox
{
	height:30;
	width: 500;
	font-size: 16;
	text-align: center;
}
#search_button
{
	margin: -5px 0px -10px 10px;
	background-color: #333366; 
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    outline: none;
    float:right;
    /*background: linear-gradient(#333399, #333366); /* Standard syntax */*/
}
#searchbox_wrapper
{

	height:30px;
	background:#3B3B3B;
	box-shadow: 0px 0px 4px black;
	padding: 10px;
}
input.placeholder {
    text-align: center;
}


