body
{

    background: linear-gradient(#f6f6f6, #a8a8a8); /* Standard syntax */
	/*background-color: #f6f6f6;*/
	font-family: arial;
	margin:auto;
}
#close
{
   position:absolute;
   top:0;
   right:0;
   padding:10px;
   font-weight: bold;
   color:#3383BB;
   font-size: 12px;	
   cursor: pointer;
   background: #f6f6f6;

   height:10px;
   line-height: 10px; 

}
.container
{
	margin: auto;


}
.header
{
	margin-top: 25px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 20;
	padding: 12px;
	color: #323232;
	text-decoration: none;

}

.block
{
	margin-left: 20px;
	margin-right:20px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	/* box-shadow */
	box-shadow: 0px 0px 5px #d0d0d0;
	border-collapse: collapse;
	max-height: 800px;
	overflow-y: scroll;	
}
#player_results
{
	margin-left: 20px;
	margin-right:20px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	/* box-shadow */
	box-shadow: 0px 0px 5px #d0d0d0;
	border-collapse: collapse;
	max-height: 800px;
	overflow-y: scroll;	
	display:none;
}
.sub_result
{
	margin-left: 10px;
}
#player_searchbox
{
	height:30;
	width: 500;
	font-size: 16;
}
#search_button
{
	margin: -5px 0px -10px 10px;
	background-color: #333366; 
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    outline: none;
    float:right;
    /*background: linear-gradient(#333399, #333366); /* Standard syntax */*/
}
#searchbox_wrapper
{

	height:30px;
	background:white;
	box-shadow: 0px 0px 4px #d0d0d0;
	padding: 10px;
}



