html
	head
		style
			include ../style/style.css
	body
		.container
			.header MongoDB
		#searchbox_wrapper
			center
				input(id="player_searchbox", type="text", placeholder="Player")

		//- Scripts
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(src='/script/hotkeys.js')