html
	head
		style
			include ../style/style.css
	body
		.container
			.header MongoDB
			for player in json
				.block
					p Name: 
						b #{player.name}
					p Rank: 
						b #{player.rank}
					p Rating: 
						b #{player.rating}
					p Age: 
						b #{player.age}
				br

		//- Scripts
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(src='/script/hotkeys.js')

