html
	head
		style
			include ../assets/style/style.css
	body
		.container
			.header MongoDB
		#searchbox_wrapper
			center
				input(id="player_searchbox", type="text", placeholder="Player")

		//- Scripts
		script(src="../assets/script/hotkeys.js")